<script setup lang="ts">
import BodySection1 from './components/BodySection1.vue'
import BodySection2 from './components/BodySection2.vue';
import BodySection3 from './components/BodySection3.vue';
import BodySection4 from './components/BodySection4.vue';
import Navbar from './components/Navbar.vue';
</script>

<template>
  <Navbar/>
<BodySection1/>
<BodySection2/>
<BodySection3/>
<BodySection4/>
</template>

<style scoped>

</style>
