<script lang="ts" setup>
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import bicycleImage from "../assets/Bicycle-PNG-Image 1.png";
import vector from '../assets/Vector (1).png'


</script>

<template>
  <div className="container">
    <v-container >
      <v-row justify="center" no-gutters>
        <v-col md="5" align-self="center" >
          <v-sheet style="background-color: #010101;">
            <img style="width: 100%;,height: 100%;" :src='bicycleImage' >
        </v-sheet>
    </v-col>
    <v-col md="7" style="padding-left: 2rem;">
        <v-sheet style="background-color: #010101;">
            <div className="contact">ติดต่อเรา</div>
            <v-text-field variant="underlined" label="ชื่อ - นามสกุล"></v-text-field>
            <v-text-field variant="underlined" label="เบอร์ติดต่อ"></v-text-field>
            <v-text-field variant="underlined" label="อีเมล"></v-text-field>
            <VueDatePicker  position="left" >
              <template #trigger>
              <v-text-field variant="underlined" label="วันที่" style="position: relative;"></v-text-field>
              <img :src="vector" style="position: absolute;right:30%;top: 0%;">
              </template>
                 </VueDatePicker>
            <div style="margin-top: 1rem;margin-bottom: 1rem;">Lorem Ipsum is simply dummy<br>text Lorem Ipsum is simply dummy</div> 
            <v-btn  color="#D9EF0B" rounded="xl" width="10rem" size="x-large"><p style="color:#010101">LOREM</p></v-btn>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .v-text-field {
  width: 70%; /* adjust the width to your needs */
}

.container img {
  margin-right: 10px; /* adjust the margin to your needs */
}
.contact{
font-style: italic;
font-weight: 600;
font-size: 60px;
line-height: 73px;
text-transform: capitalize;

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 959px;
}
.text-lorem{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 117px;
text-transform: uppercase;

color: #FFFFFF; 
}
.text-ipsum{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 117px;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 4px 30px #21612F;}

.label-visible {
  top: -35px;
  left: 4px;
  visibility: visible;
}
.label-invisible {
  top: -10px;
  left: 4px;
  visibility: hidden;
}
.input-field {
  margin-top: 30px;
  position: relative;
}
.input-field > input {
  width: 100%;
}
.input-field > p {
  position: absolute;
  font-size: 14px;
  transition: 0.3s;
}
</style>
