<script setup lang="ts">
import Arrow from '../assets/Arrow 1.png'
import Ellipse from '../assets/Ellipse 10.png'
</script>

<template>
  <div className="container" style="position: relative;">
    <v-container >
      <v-row justify="center" no-gutters>
          <v-sheet style="background-color: #010101;">
                <div style="display: flex;justify-content: center;">
                    <div className="text-lorem-ipsum" >LOREM IPSUM</div>
                    <div className="text-lorem" style="color:rgba(217, 239, 12, 1)">LOREM</div>
                </div>
                <div style="display: flex;justify-content: center;margin-top: 5rem;">
                    <img :src="Ellipse" alt="">
                </div>
                <img className="arrow-right" :src="Arrow" alt="">
                <img className="arrow-left" :src="Arrow" alt="">
                <div style="display: flex;justify-content: center;">
                    <div style="margin-top: 3rem;font-weight: bold;">Lorem Ipsum is simply</div> 
                </div>
                <div style="display: flex;justify-content: center;text-align: center;">
                    <div style="margin-top: 1rem;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <br> been the industry's standard dummy text ever since the 1500s, when an unknown printer took <br> a galley of type and scrambled it to make a type specimen book.</div> 
                </div>
     
          </v-sheet>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.arrow-right{
    box-sizing: border-box;
    padding: 0.6rem;
position: absolute;
left: 0%;
right: 94.31%;
top: 47%;
bottom: 46.89%;

background: #C4C4C4;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.arrow-left{
box-sizing: border-box;
position: absolute;
left: 97.50%;
right: 0%;
top: 47%;
bottom: 46.89%;
padding: 0.6rem;
background: #D9EF0C;}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 959px;
}
.text-lorem-ipsum{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 73px;
text-align: center;
text-transform: uppercase;
}
.text-lorem{
margin-left: 1rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 73px;
text-align: center;
text-transform: uppercase;
}
</style>
