<script setup lang="ts">
import bicycleImage from "../assets/Bicycle-PNG-Image 1.png";

</script>

<template>
  <div className="container">
    <v-container >
      <v-row justify="center" no-gutters>
        <v-col md="5">
          <v-sheet style="background-color: #010101;">
            <div className="text-lorem" >LOREM</div>
    <div className="text-ipsum" style="color:rgba(217, 239, 12, 1)">IPSUM</div>
    <div style="margin-top: 5rem;">Lorem Ipsum is simply Lorem Ipsum is <br>simply Lorem Ipsum is simply</div>
    <div style="margin-top: 1rem;" >Lorem Ipsum is simply dummy text of the printing and<br> typesetting industry. Lorem Ipsum has been the industry's </div>
          </v-sheet>
        </v-col>
        <v-col md="7">
          <v-sheet style="background-color: #010101;">
            <img style="width: 100%;,height: 100%;" :src='bicycleImage' >
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 959px;
}
.text-lorem{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 117px;
text-transform: uppercase;

color: #FFFFFF; 
}
.text-ipsum{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 117px;
text-transform: uppercase;

color: #FFFFFF;

/* shadow green */

text-shadow: 0px 4px 30px #21612F;}
</style>
