<script setup lang="ts">
import {onMounted,ref} from "vue";
import axios from 'axios'
const info:any = ref([])
console.log(info)
onMounted(async () => {
  await axios
      .get(' https://dummyjson.com/products?limit=3')
      .then((response:any) => {
        info.value = response.data
      })
})
</script>

<template>
  <div className="container" style="background-color: #D9EF0B;">
    <v-container >
        <div className="text-lorem-ipsum" >LOREM IPSUM</div>
        <v-row justify="center" no-gutters >
        <v-col v-for="item in info.products" style="margin-left: 1rem;">
            <v-sheet style="background-color: #D9EF0B;" >
            <v-card height="350px" style="margin-top: 3rem;"
class="mx-auto"
      max-width="344"
    >
      <v-img
        :src="item.images[0]"
        height="200px"
        cover
      ></v-img>
      <v-card-title>
       {{ item.title }}
      </v-card-title>
      <v-card-text>
      {{ item.description }}
      </v-card-text>
    </v-card> 
            </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.text-lorem-ipsum{
color: #000000;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 73px;
text-align: center;
text-transform: uppercase;
}
.text-lorem{
margin-left: 1rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 73px;
text-align: center;
text-transform: uppercase;
}
</style>
