<script setup lang="ts">
import logo from '../assets/logo.png'
import vecterdown from '../assets/Vectordown.png'
</script>

<template>
      <v-card>
    <v-layout>
      <v-app-bar
      color="#000000"
      absolute
        prominent
        style="height: 100px;display: flex;justify-content: center;"
      >
      <div style="display: flex;align-items: center;">
        <img :src="logo" style="width: 74px;height: 74px;margin-left: 5rem;margin-right: 0.5rem;">
        <v-toolbar-title className="text-logo">LOREM</v-toolbar-title>
        <v-toolbar-title className="text-logo-color">IPSUM</v-toolbar-title>
      </div>

        <v-btn variant="text" >LOREM</v-btn>
      
          <v-btn variant="text"  style="padding: 0;">LOREM</v-btn>
          <img :src="vecterdown" >
 
        <v-btn variant="text" >LOREMIPSUM</v-btn>
        <v-btn variant="text" >LOREM & IPSUM</v-btn>
        <v-btn variant="text">LOREM</v-btn>
      </v-app-bar>
   
      <v-main style="height: 100px;">
      </v-main>
    </v-layout>
  </v-card>
</template>

<style scoped>
.text-logo-color{
margin-left: 0.5rem;
margin-right: 5rem;
font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
color: #D9EF0C;
}
.text-logo{
font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
color: #FFFFFF;
}


</style>
